.LearnDiv {
    overflow:hidden;
    width:100%;
}

.TypeText {
    width: 60%;
    font-size: 50px;
    line-height:100px;
    color: #fff;
    text-align:center;
    margin:0 auto;
}

.LerRL {
    float: left;
    width: 50%;
}

#IntroductionHead {
    width:100%;
}

#InPic {
    width: 100%;
}

#InType {
    width: 100%;
    overflow: hidden;
}

.InType {
    width: 33%;
    height: 100px;
    float: left;
}